@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

button {
	color: #fff !important;
}

.project-modifier__darkened {
	opacity: 0.5;
}

.scrum-tools__project-modifier-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../../images/confetti.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: 100%, cover;
	width: 100%;
	min-height: 300px;
}

.scrum-tools__project-modifier-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrum-tools__notifications {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 30px;
}

.hahariki_start-btn {
	padding: 15px 53px;
	color: #fff;
}

#hahariki-game-lobby{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hahariki_input {
	background-color: #fff;
}

.hahariki_input::placeholder {
	color: #000;
}

.hahariki_input:focus {
	color: #000;
}

.hahariki_lobby {
	margin-top: 23%;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.hahariki__input-container {
	display: flex;
	width: 40%;
	height: 100%;
}